html,body{
    height:100%;
    margin:0;
}

.nav_left{
    width:20%;
    height:100%;
    display:inline-block;
    border:1px solid;
}
.content{
    width:79%;
    height:90%;
    border:1px solid;
    float:right;
}



